<form method = "post" action="/show">
  <h2>Pirate's Information</h2>
  <label for="pirate">Pirate Name</label>
  <input type="text" name="" id="pirate">
  <label for="pirate">Weight:</label>
  <input type="text" name="">



</form>