<h1>Welcome to the Nested Forms Lab!</h1>\n\n<p>In this lab, you'll practice using nested forms in S... same name property. Capyb
ara needs some sort of unique indentifier, so we use id. </li>\n\n</ul>\n" to include "let's navigate to the '/new'
